fastapi
uvicorn
opencv-python
torch
torchvision
detectron2
tesserocr
face_liveness
prnet @ git+https://github.com/YadiraF/PRNet.git
deca
open3d-python
pycpd
faiss-cpu
numpy
scipy
meshio
trimesh
Pillow
